* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background: dimgray;
  color: white;
}

.menu {
  display: none;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: .5em 0 .5em 0;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.social {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  border-top: 1px groove lightgray;
  padding: 1em;
}

.social_icon {
  font-size: 1.5em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  header {
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {

  header {
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    padding: 0;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  .product {
    width: 30%;
  }
}
